<!DOCTYPE html>
<html ng-app='wdinstagram'>
  <head>
    <meta charset="utf-8">
    <title>WDInstagram</title>
    <link rel='stylesheet' href='style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-resource.min.js"></script>
    <!-- <script src='js/posts/posts.module.js'></script> -->
    <script src='js/app.js'></script>
  </head>
  <body>
    <h1>WDInstagram</h1>
     <div ui-view>

    </div>
    <!-- <h1>WDInstagram</h1> -->
    <!-- <div ng-repeat='post in vm.posts'>
      <img src={{post.img}}>
      <p>{{post.author}}</p>
      <p>{{post.body}}</p>
      <hr>
    </div> -->
      <!-- <form>
        <p><label>Img url: <input type='text' ng-model='vm.img'> </label></p>
        <p><label>Author: <input type='text' ng-model='vm.author'> </label></p>
        <p><label>Body: <input type='text' ng-model='vm.body'> </label></p>
        <p><button ng-click='vm.addPost()'>Add Post</button></p>
      </form> -->
  </body>
</html>
